<div>
   <h3>Types</h3>
   <% filter.types.forEach((type)=>{ %>
      <div class="filter-group" id="type-<%= type%>">
         <input type="checkbox"name="<%= type%>">
         <label for="<%= type%>"><%= type%></label>
      </div>      
   <% }) %>
</div>
<div>
   <h3>Cuisines</h3>
   <% filter.cuisines.forEach((type)=>{ %>
      <div class="filter-group" id="type-<%= type%>">
         <input type="checkbox"name="<%= type%>">
         <label for="<%= type%>"><%= type%></label>
      </div>      
   <% }) %>
</div>
<div>
   <h3>Diets</h3>
   <% filter.diets.forEach((type)=>{ %>
      <div class="filter-group" id="type-<%= type%>">
         <input type="checkbox"name="<%= type%>">
         <label for="<%= type%>"><%= type%></label>
      </div>      
   <% }) %>
</div>
<div>
   <h3>Intolerances</h3>
   <% filter.intolerances.forEach((type)=>{ %>
      <div class="filter-group" id="type-<%= type%>">
         <input type="checkbox"name="<%= type%>">
         <label for="<%= type%>"><%= type%></label>
      </div>      
   <% }) %>
</div>

 